@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Poppins:wght@200;300;500&family=Raleway:wght@300&display=swap');
/* 
font-family: 'Oooh Baby', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}

.container{
    max-width: 600px;
    margin: 10px auto;
}
/* ================================ */
/* PLEASE DONT EDIT THE CODE ABOVE= */
/* ================================ */

/* this is where Ivan style card starts*/
.ivan-box{
    margin: 2em 0;
    background-color: rgb(207, 237, 249);
    border-radius: 3em;
    padding: 2em;
}
.ivan-box .img-box{
    max-height: 500px;
    height: 20em;
    background-image: url("/images/xps-6uneKLGrJPs-unsplash.jpeg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.3em;
}
.ivan-box img{
    width: 100%;
}
.ivan-box p{
    margin: .8em 0;
    color: rgb(96, 96, 96);
    font-family: 'Oooh Baby', cursive;
    font-size: 2em;
}

.ivan-box h1{
    margin: .8em 0;
    color: rgb(73, 80, 78);
}
.ivan-btn{
    background-color: rgb(14, 108, 148);
    font-size: 1em;
    color: white;
    border: none;
    padding: 1em 4em;
    cursor: pointer;
    border-radius: 3em;
}
.ivan-btn:hover{
    background-color: rgb(11, 57, 77);
}
/* this is where Ivan style card ends*/

/* this is where Steve style card starts*/
.steve-box{
    margin: 2em 0;
    background-color: rgb(207, 237, 249);
    border-radius: 3em;
    padding: 2em;    
}

.steve-box .img-box{   
    border-radius: 1.3rem; 
    overflow: hidden;
}

.steve-box .img-box img{
    max-height: 20rem;
    height: 100%;
    width: 100%;
    object-position: bottom;
    object-fit: cover;
    transition: all 0.2s ease-out;
}

.steve-box .img-box img:hover{
    transform: scale(1.2);
}


.steve-box p{
    margin: .8em 0;
    color: rgb(96, 96, 96);
    font-family: 'Oooh Baby', cursive;
    font-size: 2em;
}

.steve-box h1{
    margin: .8em 0;
    color: rgb(73, 80, 78);
}
.steve-btn{
    background-color: rgb(14, 108, 148);
    font-size: 1em;
    color: white;
    border: none;
    padding: 1em 4em;
    cursor: pointer;
    border-radius: 3em;
    transition: all 0.2s ease-out;
}
.steve-btn:hover{
    background-color: rgb(11, 57, 77);
    transform: scale(1.2);
}
/* this is where 2nd Steve style card ends*/